---
import { type CollectionEntry, getCollection } from 'astro:content'
import BlogPost from '../../layouts/BlogPost.astro'

import LikeCounter from '@components/likes/LikeCounter.vue'

export const prerender = true

export async function getStaticPaths() {
	const posts = await getCollection('blog')
	// return posts.map((post) => ({
	// 	params: { slug: post.slug },
	// 	props: post
	// }))

	const regularPaths = posts.map((post) => ({
		params: { slug: post.slug },
		props: post
	}))

	// Genera rutas adicionales para manejar solicitudes con ".md"
	const mdPaths = posts.map((post) => ({
		params: { slug: `${post.slug}.md` },
		props: post
	}))

	return [...regularPaths, ...mdPaths]
}
type Props = CollectionEntry<'blog'>

const post = Astro.props
const { slug } = Astro.params
const { Content } = await post.render()
---

<BlogPost {...post.data}>
	<div
		style={{
			height: '50px'
		}}
	>
		<LikeCounter postId={post.id} client:only='vue' />
	</div>
	<Content />
</BlogPost>
